*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
}
#navbarAside{
  width: 130px;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: gray;
  flex-shrink: 0;
}
#navbarAside a{
  font-size: 24px;
  color: aqua;
  text-decoration: none;
  margin-bottom:20px;
}
#contentArea{
  flex-basis: 100%;
  height: 100vh;
}